<%- include('../layout/admin/header.ejs')%>
<%- include('../layout/admin/navbar.ejs')%>
<%- include('../layout/admin/sidebar.ejs')%>




  



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
     
    </div><!-- End Page Title -->

    

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>









  <%- include('../layout/admin/footer.ejs')%>